{% extends 'base.html' %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
{%block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='4.css') }}">
{%endblock%}
<div class="container" style="margin-top: 50px">
    <div style="display: flex; justify-content: space-between">
    <h3>{% block title %}{{category_name}}{% endblock %}</h3>
    {% if current_user.is_authenticated and not searching%}
        <a href="{{ url_for ('beers.add_beer')}}" class="btn btn-success" style="margin-top: 10px; margin-bottom:10px">Dodaj nowe piwo</a>
    {%endif%}
    </div>
    <div class="container-flex" style="flex-wrap: wrap;">
{% for result in beers %}
    <div class="element">
                            {% if result.photo %}
                        <img class="card-img-top" style="display: block; max-height: 150px; max-width: 150px; margin-left: auto; margin-right: auto"  src="{{result.photo}}" alt="Card image cap2">
                    {% else %}
                        <img class="card-img-top" style="max-height: 150px; max-width: 150px" src="{{url_for('static', filename='no_photo.png')}}" alt="Card image cap2">
                    {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{result.name}}</h4>
    <p class="card-text">{{result.category}}</p>
    <a href="{{ url_for ('beers.beer', beer_id=result.id)}}" class="btn btn-primary">Szczegóły</a>
  </div>
</div>
    {% endfor %}
    </div>
</div>

{% endblock %}